

body {
    &.dark {
        @apply text-slate-200 bg-slate-900;
        & nav, aside {
            @apply bg-slate-900;
        }
        & a, svg {
            @apply text-slate-200;
        }
    }

    &.light {
        @apply text-slate-900 bg-slate-50;
    }

    &.dark .ball {
        @apply translate-x-full;
    }
    &.light .ball {
        @apply -translate-x-0;
    }
}

#toggle-dark:checked + label .ball {
    @apply translate-x-full;
}

.show {
    animation: show ease-in-out .3s;
}
.hide {
    animation: hide ease-in-out .3s;
}

@keyframes show {
    from {
        left: -100%;
    }
    to {
        left: 0;
    }
}

@keyframes hide {
    from {
        left: 0;
    }
    to {
        left: -100%;
    }
}

[data-tooltip] {
    @apply relative;

    &:hover {
        &::after {
            @apply opacity-100 -top-2;
        }
        &::before {
            @apply top-[-10px] opacity-100;
        }
    }

    &::after {
        @apply content-[attr(data-tooltip)] absolute top-0 left-1/2 -translate-y-full -translate-x-1/2 w-max bg-slate-300 dark:bg-slate-800 py-1 px-2 rounded-md opacity-0 transition-all pointer-events-none whitespace-nowrap text-base;
    }

    &::before {
        @apply content-[''] absolute top-[4px] border-8 border-transparent border-t-slate-300 dark:border-t-slate-800 transition-all  opacity-0 left-1/2 -translate-x-1/2 pointer-events-none;
    }

}

