

body {
    &.dark {
        @apply text-slate-200 bg-slate-900;
        & nav, aside {
            @apply bg-slate-900;
        }
        & a, svg {
            @apply text-slate-200;
        }
    }
    &.dark .ball {
        @apply translate-x-full;
    }
    &.light .ball {
        @apply -translate-x-0;
    }
}

#toggle-dark:checked + label .ball {
    @apply translate-x-full;
}

.show {
    animation: show ease-in-out .3s;
}
.hide {
    animation: hide ease-in-out .3s;
}

@keyframes show {
    from {
        left: -100%;
    }
    to {
        left: 0;
    }
}

@keyframes hide {
    from {
        left: 0;
    }
    to {
        left: -100%;
    }
}
